body {
    background-image: url("bread.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
  }
header
{
    width: 100%;
    background-color:#5B3A29;
    height: 285px;
    margin-bottom: 50px;

}

#nav
{
    background-color: #d5c2ad;
    width: 690px;
    height: 50px;
    float: right;
    border-radius: 0px 0px 0px 50px;
    padding: 20px 130px 25px 140px;
}

.nav-button
{
    display: inline-block;
    background-color: #5B3A29;
    width: 220px;
    height: 40px;
    border-radius: 15px;
    text-align: center;
    font-size: x-large;
    margin-right: 7px;
    padding-top: 10px;
    font-family: Arial;
    color: #fff;
}

.logo
{
    margin-top: 40px;
    margin-left: 75px;
    margin-right: 55px;
    float: left;  
    max-width: 200px;
    border-radius: 100px 100px 100px 100px;
}

#top
{
    padding-top: 150px;
    padding-left: 300px;
    font-family: Arial;
    font-size: 80px;
    color: #d5c2ad;
}

.content-container
{
    font-family: Arial;
    padding-left: 80px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    max-width: 880px;
    color: #fff;
    background-color:#5B3A29;
}
.link
{
    font-family: Arial;
    color: #fff;
}

.title
{
    display: inline;
    font-family: Arial;
    font-size: 50px;
    margin-left: 250px;
}

table
{
    margin-left: 50px;
    margin-bottom: 20px;
    width: 700px;
    height: 500px;
    margin-top: 20px;
    border: 3px solid #35170C;
}

.string0
{
    font-size: small;
    text-align: center;
    font-family: Arial;
    background-color: #35170C;
    color: #f9f9f9;
}

.string1
{
    font-size: small;
    text-align: center;
    font-family: Arial;
    background-color: #7b5641;
    color: #f9f9f9;
}

.string2
{
    font-size: small;
    text-align: center;
    font-family: Arial;
    background-color: #946B54;
    color: #f9f9f9;
}

form {
    max-width: 600px;
    margin-left: 55px;
    padding: 40px;
    border: 3px solid #35170C;
    border-radius: 50px;
    background-color: #946B54;
  }

form input[type="text"],
form input[type="tel"],
form input[type="email"],
form input[type="date"],
form select,
form textarea 
{
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #35170C;
  border-radius: 5px;
  font-size: 16px;
}

form input[type="submit"] 
{
    background-color: #35170C;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

footer
{
    font-size: 30px;
    padding-top: 40px;
    width: 100%;
    background-color: #5B3A29;
    height: 60px;
    color: #fff;
    text-align: center;
    font-family: Arial;
}